section {
  width: 80vw;
  padding: 20px 40px;
}
section .add_ap {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section .add_ap .btn {
  width: 65%;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  padding: 16px 22px;
}
section .add_ap table {
  width: 100%;
  margin-top: 20px;
}
section .add_ap table thead {
  width: 100%;
}
section .add_ap table thead tr {
  border-bottom: var(--clr-grey);
}
section .add_ap table.active {
  display: none;
}
section .add_ap table tbody tr .image {
  width: 80px;
  height: 70px;
  overflow: hidden;
}
section .add_ap table tbody tr .image img {
  height: 100%;
}
section .add_ap table tbody tr .btn_tr {
  width: 40px;
  display: flex;
  flex-direction: column;
}
section .add_ap table tbody tr .btn_tr a {
  text-decoration: none;
  color: #b5d8f7;
  font-size: 18px;
  font-weight: 500;
}
section .add_ap .form_conteiner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
section .add_ap .form_conteiner.active {
  display: none;
}
section .add_ap .form_conteiner .form_addProd {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}
section .add_ap .form_conteiner .form_addProd .input_section {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
section .add_ap .form_conteiner .form_addProd .input_section input,
section .add_ap .form_conteiner .form_addProd .input_section textarea {
  width: 90%;
  margin-top: 20px;
  height: auto;
}
section .add_ap .form_conteiner .form_addProd .form-floating,
section .add_ap .form_conteiner .form_addProd .load_file {
  margin-top: 20px;
}
section .add_ap .form_conteiner .form_addProd .progress_line {
  margin-top: 36px;
  width: 100%;
}
section .add_ap .form_conteiner .form_addProd .progress_line .progress {
  width: 100%;
}
section .add_ap .form_conteiner .form_addProd .image_block {
  width: 48%;
  height: auto;
  position: relative;
  margin-top: 19px;
}
section .add_ap .form_conteiner .form_addProd .image_block .image {
  max-width: 750px;
  height: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}
section .add_ap .form_conteiner .form_addProd .image_block .image img {
  height: 400px;
}
section .add_ap .form_conteiner .form_addProd .image_block .btn {
  width: 175px;
  height: 52px;
  position: absolute;
  bottom: 0;
  left: 0;
}
section .add_ap .form_conteiner .form_addProd .batton_section {
  width: 90%;
  margin-top: 20px;
  height: auto;
  display: flex;
  justify-content: space-between;
}
section .add_ap .form_conteiner .form_addProd .batton_section .btn {
  width: 40%;
}