<section>
    <div class="titel-container">
        <h1 class="title">
            Салати від МА
        </h1>
        <div class="c-title-img">
            <img src="https://firebasestorage.googleapis.com/v0/b/final-project-393613.appspot.com/o/decor%2Fc-title-img.png?alt=media&token=87e18928-e7a2-4879-80a0-7c16ce3c6a99"
                alt="">
        </div>
    </div>



    <div class="goods-container">
        <ul class="filters-list">

            <li *ngFor="let category of listCategory; 
                let isFirst = first" [class.active]="isFirst && !categoryName || category.link === categoryName"
                (click)="onSelectItem(category)">


                <img src="{{category.images}}" alt="">
                <a class="nav-link">{{ category.titel }}</a>
            </li>
        </ul>

        <ul class="products-wrapper">
            <li *ngFor="let goods of goodsArr">



                <div class="image_block">
                    <button (click)="addFavorites(goods)" [ngClass]="{ 'active': isFavorite(goods) }" class="fav_btn">
                        <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="fill-anime"
                                d="M10.5167 16.3416C10.2334 16.4416 9.76675 16.4416 9.48342 16.3416C7.06675 15.5166 1.66675 12.075 1.66675 6.24165C1.66675 3.66665 3.74175 1.58331 6.30008 1.58331C7.81675 1.58331 9.15842 2.31665 10.0001 3.44998C10.8417 2.31665 12.1917 1.58331 13.7001 1.58331C16.2584 1.58331 18.3334 3.66665 18.3334 6.24165C18.3334 12.075 12.9334 15.5166 10.5167 16.3416Z"
                                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </button>
                    <div (click)="productInfo(goods)" class="goods_image">
                        <img [src]="goods.images">
                    </div>
                </div>

                <a (click)="productInfo(goods)" class="goods_title" href="#" itemprop="name">
                    <b>{{goods.name}}</b>
                    <img src="{{goods.category.images}}" alt="">
                </a>

                <div class="product_desc">
                    {{ goods.compound}}
                </div>

                <div class="product_controls">
                    <div class="product_price-wrap">
                        <div class="product_pricehidden">
                            <b *ngIf="!goods.newPrice" class="price-old">{{goods.price}} </b>
                            <b *ngIf="goods.newPrice" class="price-old">{{goods.priceTogether}} </b>

                            грн
                        </div>
                    </div>
                    <div class="product_size">/
                        <span class="size">{{goods.weight}}</span> г
                    </div>

                    <div class="bonus_calculate">
                        <b *ngIf="!goods.newPrice" class="price-old">{{goods.bonus}} грн бонусів </b>
                        <b *ngIf="goods.newPrice" class="price-old">{{goods.bonusTogether}} грн бонусів </b>
                    </div>

                    <div class="w-100"></div>

                    <div class="thumb-input-number">
                        <button (click)="quantity_goods(goods, false)" type="button" class="decrement"
                            data-key="">-</button>
                        <input [value]="goods.count" class="product-qty" value="1" readonly="" tabindex="-1" max=""
                            data-id="640" data-key="">
                        <button (click)="quantity_goods(goods, true)" type="button" class="increment"
                            data-key="">+</button>
                    </div>

                    <button class="order-btn" (click)="addToBasket(goods)">
                        <span>замовити</span>
                        <i>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M6.25 6.39167V5.58334C6.25 3.70834 7.75833 1.86667 9.63333 1.69167C11.8667 1.47501 13.75 3.23334 13.75 5.42501V6.57501"
                                    stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path
                                    d="M7.5001 18.3333H12.5001C15.8501 18.3333 16.4501 16.9917 16.6251 15.3583L17.2501 10.3583C17.4751 8.32499 16.8918 6.66666 13.3334 6.66666H6.66677C3.10843 6.66666 2.5251 8.32499 2.7501 10.3583L3.3751 15.3583C3.5501 16.9917 4.1501 18.3333 7.5001 18.3333Z"
                                    stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M12.9128 10H12.9203" stroke="white" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M7.07884 10H7.08632" stroke="white" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                            </svg>
                        </i>
                    </button>
                </div>
            </li>
        </ul>

    </div>

    <div class="container">
        <img class="decor-img left" data-rellax-speed="1"
            src="https://firebasestorage.googleapis.com/v0/b/final-project-393613.appspot.com/o/decor%2Fdecor-img-3.svg?alt=media&token=f53318dd-7fb4-49ad-91be-391df09903d7&_gl=1*u4g58h*_ga*MzkwMTAyNDg5LjE2ODc3NzIwMTI.*_ga_CW55HF8NVT*MTY5Njc1MzA2Ny4zMjcuMC4xNjk2NzUzMDY3LjYwLjAuMA.."
            alt="">
        <div class="content salats" [ngClass]="{ 'expanded': isExpanded }">
            <h3>Салати у Львові</h3>
            <p><span style="font-weight: 400">Салати у м. Львів – це універсальна страва, що може стати
                    сніданком, обідом, вечерею або ж навіть родзинкою свята. Завжди нове, неповторне
                    поєднання інгредієнтів дозволяє експериментувати, винаходити нові, ще кращі закуски. А
                    доставка завжди доречних, ситних, освіжаючих салатів у м. Львів максимально
                    швидка.&nbsp;</span></p>
            <div class="more-text">
                <div class="text text-lg">
                    <p><span style="font-weight: 400">У спекотний літній день, коли зовсім не хочеться
                            жирних, калорійних страв, на допомогу приходять салати від MA Pizza у м.
                            Львів.&nbsp; Завдяки найкращим, соковитим овочам та зелені можна чудово
                            освіжитись. А у поєднанні з іншими інгредієнтами ситний перекус додасть вам
                            сили, енергії. Навіть найвибагливіші гурмани не можуть відірватись від
                            неповторних, вишуканих салатів.&nbsp;</span></p>
                    <h2><b>Чому варто замовити салат від MA Pizza у м. Львів?&nbsp;</b></h2>
                    <ol>
                        <li style="font-weight: 400"><span style="font-weight: 400">Майстерні кухарі
                                використовують найкращі продукти з Італії, Польщі, Іспанії, Німеччини та
                                створюють справжні мистецькі шедеври на тарілці;</span></li>
                        <li style="font-weight: 400"><span style="font-weight: 400">Смачні, ситні салати
                                дарують енергію без зайвого переїдання, освіжають, додають сили, гарний
                                настрій;</span></li>
                        <li style="font-weight: 400"><span style="font-weight: 400">Смачні салати можуть
                                урізноманітнити буденне меню, коли зовсім немає часу стояти на кухні;</span>
                        </li>
                        <li style="font-weight: 400"><span style="font-weight: 400">Салати – оригінальне
                                доповнення до піци Mamma Italiano у м. Львів;</span></li>
                        <li style="font-weight: 400"><span style="font-weight: 400">Приготовані з любов’ю до
                                кожного клієнта, салати MA Pizza у м. Львів дивують неповторними смаками,
                                дарують особливу насолоду.</span></li>
                    </ol>
                    <p><span style="font-weight: 400">Відчуваєте цей чарівний аромат смаженої курочки під
                            пікантним соусом? &nbsp; Або ж хочете спробувати щось особливе, неповторне,
                            таке, що раніше не куштували? Пікантна груша з сиром Дор Блю</span><span
                            style="font-weight: 400">,</span><span style="font-weight: 400"> артишоки з
                            каперсами й свіжими овочами – чи не такі страви ви давно мріяли скуштувати?
                            Поєднання унікальних інгредієнтів у єдиній страві робить справжній вибух нових
                            смаків.&nbsp;</span></p>
                    <h2><b>Найсмачніші салати у Львові</b></h2>
                    <h2><b>Замовити салат у м. Львів</b><span style="font-weight: 400">&nbsp;</span></h2>
                    <p><span style="font-weight: 400">Доставка салатів у м. Львів є легкою, доступною. Вам
                            достатньо обрати на сайті улюблений салат, тип доставки, спосіб оплати. Як
                            тільки замовлення буде прийнято, наші кухарі миттєво візьмуться до роботи.
                            Швидка доставка їжі від MA Pizza, зокрема салатів, дозволяє смачно перекусити
                            вдома, на роботі чи навіть під час прогулянки у м. Львів.&nbsp;</span></p>
                    <p><span style="font-weight: 400">А якщо не впевнені, який салат краще обрати,
                            зателефонуйте до нашого кол-центру. Консультанти допоможуть вам визначитись зі
                            стравою, швидко її замовити. Вже через кілька хвилин ви не зможете відірватись
                            від апетитних салатів MA Pizza.&nbsp;</span></p>
                    <p><em><b>Апетитний вигляд, спокусливий аромат, чудовий смак – це все про салати MA
                                Pizza у м. Львів!</b></em></p>
                </div>
                <div class="read-more" data-read-more="Читати більше" data-read-less="Згорнути">
                    Читати більше </div>
            </div>
        </div>
        <img class="decor-img right" data-rellax-speed="-1"
            src="https://firebasestorage.googleapis.com/v0/b/final-project-393613.appspot.com/o/decor%2Fdecor-img-4.svg?alt=media&token=1978bb5c-9e25-4906-b4c5-30bb947c36af&_gl=1*1570fbj*_ga*MzkwMTAyNDg5LjE2ODc3NzIwMTI.*_ga_CW55HF8NVT*MTY5Njc1MDU5Ny4zMjYuMS4xNjk2NzUwNjQ3LjEwLjAuMA.."
            alt="">

        <div class="btn-more">
            <div class="read-more" (click)="toggleContent()">
                {{ isExpanded ? 'ЗГОРНУТИ' : 'ЧИТАТИ БІЛЬШЕ' }}
            </div>
        </div>


    </div>


</section>