<div class="ing_body">
<div class="btn-close" (click)="close()" aria-label="Закрити"></div>

    <div class="goods_block">
        <div class="info_container">

            <div class="image_box">
                <button (click)="addFavorites(productID)" [ngClass]="{ 'active': isFavorite(productID) }"
                    class="fav_btn" type="button">
                    <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="fill-anime"
                            d="M10.5167 16.3416C10.2334 16.4416 9.76675 16.4416 9.48342 16.3416C7.06675 15.5166 1.66675 12.075 1.66675 6.24165C1.66675 3.66665 3.74175 1.58331 6.30008 1.58331C7.81675 1.58331 9.15842 2.31665 10.0001 3.44998C10.8417 2.31665 12.1917 1.58331 13.7001 1.58331C16.2584 1.58331 18.3334 3.66665 18.3334 6.24165C18.3334 12.075 12.9334 15.5166 10.5167 16.3416Z"
                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </button>
                <img src="{{productData.images}}" alt="">
            </div>
            <div class="product_info-wrapper">

                <div class="product_controls">
                    <div class="price_size_wrapper">
                        <div class="product_price"><b class="price" itemprop="price">{{productData.price}}</b>
                            <span itemprop="priceCurrency" content="UAH">грн</span>
                        </div>
                        <div class="product_size">/ <span class="size">{{productData.weight}}</span> г</div>
                    </div>
                </div>

                <div  class="product_title-wrap">
                    <div class="product_title" itemprop="name">
                        <b>{{productData.name}}</b>
                        <i><i><img *ngIf="noCategory" src="{{productData.category?.images}}" alt=""></i></i>
                    </div>
                </div>

                <div class="product_desc">
                    {{productData.compound}} </div>
            </div>

        </div>

        <div class="ing_pick-up-from">
            <div class="ing_group">

                <div class="ing_summ">
                    <div class="title">Додаткові інгредієнти</div>
                    <div class="total_ing-prise">Сума додатків:
                        <span><b>{{addProductPrice}}</b>грн</span>
                    </div>
                </div>

              


                <div class="select_inglist">
                    <div *ngFor="let selectIng of additionalProducts; let i = index" class="ing_control"
                        [ngClass]="{ 'active': isActive(i) }">
                        <div class="ing_control-title">
                            {{selectIng.apName}}
                        </div>
                        <button class="btn-close" (click)="toggleActive(i)"></button>
                    </div>
                    <div class="ing_output-clean-all" (click)="cleanAll()">
                        <b>Очистити все</b>
                        <i></i>
                    </div>

                </div>

                <div class="tab-i-nav">
                    <div class="tab-i-toggle">
                        <div class="sel_ing_btn sauces active" (click)="selectIngBtn('sauce', $event)">
                            <b>Соуси</b>
                        </div>
                        <div class="sel_ing_btn appendices" (click)="selectIngBtn('appendices', $event)">
                            <b>Додатки</b>
                        </div>
                    </div>
                </div>

                <ul class="ing_row">

                    <li *ngFor="let ing of addProductsSort,  let i = index" class="ingredient"
                        [ngClass]="{ 'active': isActive(i) }">

                        <div class="ing_card" (click)="toggleActive(i)">
                            <div class="ingredient_img">
                                <img class="img imgLoaded" src="{{ing.apImages}}" alt="">
                            </div>
                            <div class="ingredient_title">
                                {{ing.apName}} </div>
                            <div class="ingredient_bottom">
                                <span>{{ing.apWeight}} г </span>
                                <span>{{ing.apPrice}} грн</span>
                            </div>
                            <div class="ingredient_action"></div>
                        </div>

                        <div class="thumb-input-number">
                            <button (click)="quantity_ings(i, false)" type="button" class="decrement ing_btn">-</button>
                            <input [value]="ing.apCount" class="product-qty">
                            <button (click)="quantity_ings(i, true)" type="button" class="increment ing_btn">+</button>
                        </div>


                    </li>

                </ul>


            </div>
        </div>
    </div>

    <div class="order_block">

        

        <div class="thumb-input-number">
            <button (click)="quantity_goods(productData, false)" type="button" class="decrement" data-key="">-</button>
            <input [value]="productData.count" class="product-qty" value="1" readonly="" tabindex="-1" max=""
                data-id="640" data-key="">
            <button (click)="quantity_goods(productData, true)" type="button" class="increment" data-key="">+</button>
        </div>

    <div class="product_price-wrap">
        <div class="product_pricehidden">
            <b *ngIf="!productData.newPrice" class="price-old">{{productData.price}} </b>
            <b *ngIf="productData.newPrice" class="price-old">{{productData.priceTogether}} </b>
            грн
        </div>
    </div>


        <button class="order-btn" (click)="addToBasket(productData)">
            <span>замовити</span>
            <i>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M6.25 6.39167V5.58334C6.25 3.70834 7.75833 1.86667 9.63333 1.69167C11.8667 1.47501 13.75 3.23334 13.75 5.42501V6.57501"
                        stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                        stroke-linejoin="round">
                    </path>
                    <path
                        d="M7.5001 18.3333H12.5001C15.8501 18.3333 16.4501 16.9917 16.6251 15.3583L17.2501 10.3583C17.4751 8.32499 16.8918 6.66666 13.3334 6.66666H6.66677C3.10843 6.66666 2.5251 8.32499 2.7501 10.3583L3.3751 15.3583C3.5501 16.9917 4.1501 18.3333 7.5001 18.3333Z"
                        stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                        stroke-linejoin="round">
                    </path>
                    <path d="M12.9128 10H12.9203" stroke="white" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    <path d="M7.07884 10H7.08632" stroke="white" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"></path>
                </svg>
            </i>
        </button>

    </div>


</div>