section {

    .info_block {
        width: 100%;
        margin-top: 96px;

        .container {
            width: 100%;
            position: relative;
            margin-right: auto;
            margin-left: auto;

            .benefits-wrapper {
                position: relative;
                background: #ffffff;
                border: 1px solid #d1d9ce;
                border-radius: 25px;
                padding: 45px 60px;
                box-shadow: 20px 20px 0px #f2faf2;

                .decor-img {
                    position: absolute;
                    top: -150px;
                    left: -140px;
                    z-index: -1;
                    max-width: 240px;
                    max-height: 240px;
                    transform: translate3d(0px, 16px, 0px);
                }
            }

            .about-block-wrapper {
                position: relative;
                background: var(--clr-white);
                border: 1px solid #d1d9ce;
                border-radius: 30px;
                margin-top: 70px;
                box-shadow: 20px 20px 0px #f2faf2;

                .decor-img {
                    position: absolute;
                    top: -45px;
                    left: -160px;
                    z-index: -1;
                    transform: translate3d(0px, -46px, 0px);
                }

                .about-block-inner {
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .about-block-info {
                        width: 46%;
                        padding: 0px 60px 35px 110px;

                        h2 {
                            margin-top: 0px;

                            &::before {
                                top: -18px;
                                left: -37px;
                            }
                        }
                    }

                    .about-block-img {
                        flex-shrink: 0;
                        position: relative;
                        overflow: hidden;
                        width: 53%;
                        border-radius: 25px;
                        min-height: 390px;

                        img {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }

            .inst-block-wrapper {
                position: relative;
                background: var(--clr-white);
                border: 1px solid #d1d9ce;
                border-radius: 30px;
                margin-top: 70px;
                box-shadow: 20px 20px 0px #f2faf2;

                .inst-block-inner {
                    display: flex;
                    justify-content: space-between;

                    .inst-block-img {
                        flex-shrink: 0;
                        position: relative;
                        overflow: hidden;
                        width: 53%;
                        border-radius: 25px;
                        min-height: 390px;

                        img {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .inst-block-info {
                        padding: 25px 60px 25px 110px;
                        align-self: center;

                        h2 {
                            &::before {
                                left: -50px;
                                width: 64px;

                            }
                        }

                        .text {
                            font-size: 16px;
                            line-height: 1.5em;
                            color: var(--clr-grey);
                            font-weight: 400;
                        }
                    }
                }
            }

            .faq-block-wrapper {
                flex-shrink: 0;
                width: 100%;
                max-width: 100%;
                margin-top: 70px;

                .accordion {
                    width: 60%;
                    margin: 0 auto;

                    h2 {
                        &::before {
                            top: -30px;
                            left: -50px;
                        }
                    }

                    .accordion-panel .accordion-item {
                        border: none;
                        border-radius: 0px;
                        box-shadow: none;
                        background-color: #ffffff00;
                        border-top: 1px solid #D1D9CE;
                        border-bottom: 1px solid #D1D9CE;

                        .accordion-title {
                            position: relative;
                            padding: 30px 0;
                            cursor: pointer;
                            padding-right: 60px;
                            color: var(--clr-black);

                            h5 {
                                font-size: 18px;
                                line-height: 1.3em;
                                font-weight: 600;
                                color: var(--clr-black);
                                transition: var(--transition);
                            }

                        }

                        p {
                            font-size: 16px;
                            line-height: 1.5em;
                            color: var(--clr-grey);
                            font-weight: 400;
                        }

                        &:hover {
                            .accordion-title h5 {
                                color: var(--clr-green);
                            }

                            .mat-expansion-indicator {
                                border: 2px solid var(--clr-green);
                            }
                        }
                    }
                }
            }

            .content {
                position: relative;
                width: 60%;
                height: 610px;
                overflow: hidden;
                margin: 0 auto;
                transition: var(--transition);


                h2 {
                    font-size: 40px;
                    line-height: 1.2em;
                    color: var(--clr-black);
                    font-weight: 600;
                    margin-bottom: 15px;
                }

                p {
                    margin-bottom: 15px;
                }

                table {
                    width: 100%;
                    border-spacing: 0;
                    border-collapse: collapse;

                    td {
                        border: 1px solid #d1d9ce;
                        padding: 10px 15px;
                    }
                }

                &.expanded {
                    height: auto;
                }
            }

            .decor-img {
                position: absolute;
                z-index: 1;
                max-width: 220px;
                max-height: 220px;


                &.left {
                    top: 0;
                    left: -127px;
                    transform: translate3d(0px, -54px, 0px);
                }

                &.right {
                    bottom: -97px;
                    right: -57px;
                    transform: translate3d(0px, 1px, 0px);
                }
            }

            .btn-more {
                width: 60%;
                margin: 0 auto;

                .read-more {
                    margin: 0 auto;
                    position: relative;
                    display: inline-block;
                    cursor: pointer;
                    text-transform: uppercase;
                    font-size: 14px;
                    line-height: 1.1em;
                    font-weight: 600;
                    color: var(--clr-red);
                    letter-spacing: 0.05em;
                    padding-right: 25px;
                    transition: var(--transition);


                    &:hover {
                        color: var(--clr-green);
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        top: 4px;
                        right: 6px;
                        width: 5px;
                        height: 5px;
                        border-top: 2px solid var(--clr-red);
                        border-right: 2px solid var(--clr-red);
                        transform: rotate(135deg);
                        transition: var(--transition);
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        top: -1px;
                        right: 0;
                        width: 17px;
                        height: 17px;
                        border: 2px solid var(--clr-red);
                        border-radius: 100%;
                        transition: var(--transition);
                    }

                    &.expanded {
                        &::before {
                            transform: rotate(-45deg);
                            top: 6px;
                        }
                    }
                }
            }
        }
    }
}