@import '../../../shared/style/input_style';

form {
    width: 65%;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;

    input {
        margin-top: 16px;
    }

    .oldPassword {
        width: 100%;

    }

    .new_password{
        width: 100%;
        display: flex;
        justify-content: space-between;
        .password {
        width: 48%;
    }}

    button {
        width: 100%;
        margin-top: 16px;
    }
}