<form [formGroup]="passwordChangeForm" (ngSubmit)="passChange()" class="modal-content">

    <input formControlName="oldPassword" name="oldPassword" type="password" class="form-control oldPassword"
        placeholder="*Ваш поточний пароль:" (blur)="checkEnterdPassword()">
    <span *ngIf="oldPassError">Введено не вірний пароль</span>
<div class="new_password">
        <input formControlName="password" name="password" type="password" class="form-control password"
            placeholder="*Ваш поточний пароль:" (blur)="checkEnterdPassword()">
        <input formControlName="password2" name="password2" type="password" class="form-control password"
            placeholder="*Повторіть новий пароль">
    
        <span *ngIf="errorOldPassEnter">Ви вели старий пароль</span>
        <span *ngIf="errorPass">Введені паролі не співпадають</span>
</div>
    <button [disabled]="passwordChangeForm.invalid" class="btn " type="submit">
        <span>ЗБЕРЕГТИ ЗМІНИ</span>
        <i></i>
    </button>
</form>