@media (max-width: 1028px) {
    section {
        margin-top: 0px;

        .container {
            width: 100%;

            .title {
                font-size: 30px;

                &::before {
                    content: none;
                }
            }

            .terms-delivery-row {
                margin-top: 20px;

                .delivery-item,
                .payment-item {
                    padding: 20px 20px;
                }
            }

            .map {
                height: 400px;
            }
        }
    }
}

@media (max-width: 780px) {
    section {

        .container {
                    .terms-delivery-row {
                margin-top: 16px;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .delivery-item,
                .payment-item {
                    width: 75%;
                    margin-top: 16px;

                }
            }

            .map {
                height: 380px;
            }
        }
    }
}

@media (max-width: 524px) {
    section {

        .container {


            .title {
                font-size: 24px;
            }

            .terms-delivery-row {

                .delivery-item,
                .payment-item {
                    width: 100%;
                    box-shadow: none;
                    padding: 15px;

                }
            }

        }
    }
}