<div class="cart modal-content">
    <div class="cart_title">
        <div class="h4 title title-decor">Кошик</div>
    </div>
    <div class="cart-popup-out">
        <div class="cart_items">
       </div>
        <div class="cart_bottom">
            <div class="cart_bottom_flex">
                <div class="cart_price-wrap">
                    Сума: <b id="card-total-price" class="card-total-price">268</b> грн </div>
                <a class="btn btn-primary" id="cart-submit">Оформити
                    замовлення</a>
            </div>
            <div class="cart_bonus-wrap">
                Нарахується бонусів: <b>8 </b>
            </div>
        </div>
    </div>
    <button class="btn-close cart-close"></button>
</div>
