<div class="basket modal-content">

    <div class="basket_title">
        <h4 class="title">Кошик</h4>
        <div class="btn-close" (click)="close()" aria-label="Закрити"></div>
    </div>
    <ul class="basket_order">
        <li class="order_good" *ngFor="let order of basket">
            <div class="btn-close" (click)="delOrder(order)"></div>
            <div class="prod_img" target="_blank">
                <img [src]="order.images">
            </div>
            <div class="prod_desc">
                <div class="gods_name">
                    <a class="title" target="_blank">
                        {{order.name}}
                    </a>
                </div>
                <div class="count_price">
                    <div class="price_default">
                        <b class="price">{{order.price}}</b> грн
                    </div>

                    <div class="quantity_goods">
                        <button (click)="quantity_goods(order, false)" type="button" class="decrement">-</button>
                        <input [value]="order.count" readonly class="goods_qty" tabindex="-1" max="999">
                        <button (click)="quantity_goods(order, true)" type="button" class="increment">+</button>
                    </div>

                    <div class="summ_price">
                        <b *ngIf="!order.newPrice" class="price-old">{{order.price}} </b>
                        <b *ngIf="order.newPrice" class="price-old">{{order.priceTogether}} </b>
                    </div>

                </div>
            </div>
        </li>
    </ul>

    <div class="basket_bottom">
        <div class="cart_price">
            <p class="summ_prise">Сума: <b>{{summ}}</b> грн</p>
            <p class="aumm_bonus">Нарахується бонусів: <b>{{bonus}} </b></p>
        </div>
        <a (click)="addOrder()" class="btn btn-primary">Оформити
            замовлення</a>


    </div>

</div>