<section>
    <div class="pizza-container" id="pizza-container">
        <div class="text-left">
            <h1>Піцца Львів</h1>
        </div>
        <ul class="filters-list">
            <!-- Встановлюємо клас active для першого елемента списку -->
            <li *ngFor="let category of listCategory; let isFirst = first"
                [class.active]="isFirst && !categoryName || category.link === categoryName"
                (click)="onSelectItem(category)">
                <img src="{{category.images}}" alt="">
                <a class="nav-link">{{ category.titel }}</a>
            </li>
        </ul>

        <ul class="products-wrapper">
            <li *ngFor="let goods of goodsArr">
                <div [routerLink]="[ '/home/'+goods.category.link, goods.id ]" class="goods_image">
                    <img [src]="goods.images">
                </div>
                <a [routerLink]="[ '/home/'+goods.category.link, goods.id ]" class="goods_title" href="#"
                    itemprop="name">
                    <b>{{goods.name}}</b>
                    <img src="{{goods.category.images}}" alt="">
                </a>

                <div class="product_desc">
                    {{ goods.compound}}
                </div>

                <div class="product_controls">
                    <div class="product_price-wrap">
                        <div class="product_pricehidden">
                            <b class="price-old">{{goods.price}}</b> 
                            грн</div>
                        </div>
                    <div class="product_size">/
                 <span class="size">{{goods.weight}}</span> г</div>
                
                    <div class="bonus_calculate">
                        +8 грн бонусів </div>
                
                    <div class="w-100"></div>
                
                    <div class="thumb-input-number">
                        <button type="button" class="decrement" data-key="">-</button>
                        <input class="product-qty" value="1" readonly="" tabindex="-1" max="" data-id="640" data-key="">
                        <button type="button" class="increment" data-key="">+</button>
                    </div>
                
                    <button class="order-btn">
                        <span>замовити</span>
                        <i>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M6.25 6.39167V5.58334C6.25 3.70834 7.75833 1.86667 9.63333 1.69167C11.8667 1.47501 13.75 3.23334 13.75 5.42501V6.57501"
                                    stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path
                                    d="M7.5001 18.3333H12.5001C15.8501 18.3333 16.4501 16.9917 16.6251 15.3583L17.2501 10.3583C17.4751 8.32499 16.8918 6.66666 13.3334 6.66666H6.66677C3.10843 6.66666 2.5251 8.32499 2.7501 10.3583L3.3751 15.3583C3.5501 16.9917 4.1501 18.3333 7.5001 18.3333Z"
                                    stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M12.9128 10H12.9203" stroke="white" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M7.07884 10H7.08632" stroke="white" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                            </svg>
                        </i>
                    </button>
                </div>

               <!--  
                <div class="product_controls">
            

                    <div class="quantity_goods">
                        <button (click)="quantity_goods(goods, false)" type="button" class="decrement">-</button>
                        <input [value]="goods.count" readonly class="goods_qty" tabindex="-1" max="999">
                        <button (click)="quantity_goods(goods, true)" type="button" class="increment">+</button>
                    </div>
                    <button (click)="addToBasket(goods)" class="btn btn-small btn-primary order-btn
                                    add-to-cart-btn" data-id="32617">Замовити</button>
                </div> -->
            </li>
        </ul>

    </div>
</section>