<footer>
    <div class="container">
        <div class="footer-top">
            <img class="decor-img left"
                src="https://firebasestorage.googleapis.com/v0/b/final-project-393613.appspot.com/o/footer%2Fdecor-img-1.svg?alt=media&token=e5670273-bf76-42c9-bb7b-b0743fdb1bda&_gl=1*vrc2je*_ga*MzkwMTAyNDg5LjE2ODc3NzIwMTI.*_ga_CW55HF8NVT*MTY5NjI1NzQ5Ni4zMDAuMS4xNjk2MjU3NTI4LjI4LjAuMA.."
                alt="">
            <img class="decor-img right"
                src="https://firebasestorage.googleapis.com/v0/b/final-project-393613.appspot.com/o/footer%2Fdecor-img-2.svg?alt=media&token=d6dcdf27-d7bf-401d-92ae-414f104a8500&_gl=1*y7f1ls*_ga*MzkwMTAyNDg5LjE2ODc3NzIwMTI.*_ga_CW55HF8NVT*MTY5NjI1NzQ5Ni4zMDAuMS4xNjk2MjU3NjIxLjUzLjAuMA.."
                alt="">

            <div class="row">

                <!--Блок контактів-->
                <div class="footer-info">

                    <a class="footer-logo" (click)="reload()">
                        <img src="https://firebasestorage.googleapis.com/v0/b/final-project-393613.appspot.com/o/heder%2Flogo-pizza-red.svg?alt=media&token=78da0861-830a-4dd3-b756-b2d016361e89"
                            alt="" srcset="">
                    </a>


                    <div class="footer-phone">
                        <a href="tel:+380971830618">+38 097 18 306 18 </a>
                        <p>нд-чт 09:30 − 21:00 <br> пт- сб 09:30 − 22:00 <br></p>
                    </div>

                    <ul class="social">
                        <li>
                            <a href="https://www.facebook.com/pizza.mammaitaliana" rel="nofollow" target="_blank">
                                <img src="https://firebasestorage.googleapis.com/v0/b/final-project-393613.appspot.com/o/footer%2Fi-facebook.svg?alt=media&token=7ce65ad0-8e6e-4b21-8ecf-57c2f0bc8746&_gl=1*1sy6ia9*_ga*MzkwMTAyNDg5LjE2ODc3NzIwMTI.*_ga_CW55HF8NVT*MTY5NjI2MTgzMy4zMDEuMS4xNjk2MjYxODQ5LjQ0LjAuMA.."
                                    alt="https://firebasestorage.googleapis.com/v0/b/final-project-393613.appspot.com/o/footer%2Fi-facebook.svg?alt=media&token=7ce65ad0-8e6e-4b21-8ecf-57c2f0bc8746&_gl=1*1sy6ia9*_ga*MzkwMTAyNDg5LjE2ODc3NzIwMTI.*_ga_CW55HF8NVT*MTY5NjI2MTgzMy4zMDEuMS4xNjk2MjYxODQ5LjQ0LjAuMA..">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/_mapizza_/?igshid=NmNmNjAwNzg%3D" rel="nofollow"
                                target="_blank">
                                <img src="https://firebasestorage.googleapis.com/v0/b/final-project-393613.appspot.com/o/footer%2Fi-instagram.svg?alt=media&token=73c8753e-32ef-4d7f-80f5-47ec45d94ec1&_gl=1*1n7terw*_ga*MzkwMTAyNDg5LjE2ODc3NzIwMTI.*_ga_CW55HF8NVT*MTY5NjI2MTgzMy4zMDEuMS4xNjk2MjYzNTQ4LjM3LjAuMA.."
                                    alt="https://firebasestorage.googleapis.com/v0/b/final-project-393613.appspot.com/o/footer%2Fi-instagram.svg?alt=media&token=73c8753e-32ef-4d7f-80f5-47ec45d94ec1&_gl=1*1n7terw*_ga*MzkwMTAyNDg5LjE2ODc3NzIwMTI.*_ga_CW55HF8NVT*MTY5NjI2MTgzMy4zMDEuMS4xNjk2MjYzNTQ4LjM3LjAuMA..">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/watch?v=EkfysYf80Ak" rel="nofollow" target="_blank">
                                <img src="https://firebasestorage.googleapis.com/v0/b/final-project-393613.appspot.com/o/footer%2Fi-you-tube.svg?alt=media&token=0afce98a-14f7-429c-a38e-c8138a21e5be&_gl=1*wh709w*_ga*MzkwMTAyNDg5LjE2ODc3NzIwMTI.*_ga_CW55HF8NVT*MTY5NjI2MTgzMy4zMDEuMS4xNjk2MjYzNTgyLjMuMC4w"
                                    alt="https://firebasestorage.googleapis.com/v0/b/final-project-393613.appspot.com/o/footer%2Fi-you-tube.svg?alt=media&token=0afce98a-14f7-429c-a38e-c8138a21e5be&_gl=1*wh709w*_ga*MzkwMTAyNDg5LjE2ODc3NzIwMTI.*_ga_CW55HF8NVT*MTY5NjI2MTgzMy4zMDEuMS4xNjk2MjYzNTgyLjMuMC4w">
                            </a>
                        </li>
                    </ul>


                    <div class="title_download_app">
                        Завантажуйте додаток </div>
                    <ul class="items_download_app">
                        <li>
                            <a href="https://apps.apple.com/us/app/ma-pizza/id1596914596" rel="nofollow"
                                target="_blank">
                                <img src="https://firebasestorage.googleapis.com/v0/b/final-project-393613.appspot.com/o/footer%2Fapp-store-download.svg?alt=media&token=aea182fb-b5e0-417a-b755-1fcf05233c2c&_gl=1*5knsrd*_ga*MzkwMTAyNDg5LjE2ODc3NzIwMTI.*_ga_CW55HF8NVT*MTY5NjI2MTgzMy4zMDEuMS4xNjk2MjYzNjQwLjUuMC4w"
                                    alt="https://firebasestorage.googleapis.com/v0/b/final-project-393613.appspot.com/o/footer%2Fapp-store-download.svg?alt=media&token=aea182fb-b5e0-417a-b755-1fcf05233c2c&_gl=1*5knsrd*_ga*MzkwMTAyNDg5LjE2ODc3NzIwMTI.*_ga_CW55HF8NVT*MTY5NjI2MTgzMy4zMDEuMS4xNjk2MjYzNjQwLjUuMC4w">
                            </a>
                        </li>
                        <li>
                            <a href="https://play.google.com/store/apps/details?id=com.mamaitaliano.app" rel="nofollow"
                                target="_blank">
                                <img src="https://firebasestorage.googleapis.com/v0/b/final-project-393613.appspot.com/o/footer%2Fgoogle-play-download.svg?alt=media&token=b41d9eaf-b292-41cb-82fb-4263e9e94056&_gl=1*fb36l1*_ga*MzkwMTAyNDg5LjE2ODc3NzIwMTI.*_ga_CW55HF8NVT*MTY5NjI2MTgzMy4zMDEuMS4xNjk2MjYzNjc4LjYwLjAuMA.."
                                    alt="https://firebasestorage.googleapis.com/v0/b/final-project-393613.appspot.com/o/footer%2Fgoogle-play-download.svg?alt=media&token=b41d9eaf-b292-41cb-82fb-4263e9e94056&_gl=1*fb36l1*_ga*MzkwMTAyNDg5LjE2ODc3NzIwMTI.*_ga_CW55HF8NVT*MTY5NjI2MTgzMy4zMDEuMS4xNjk2MjYzNjc4LjYwLjAuMA..">
                            </a>
                        </li>
                    </ul>

                </div>

                <!--Блок головного меню-->
                <div class="footer-menu">
                    <p class="footer-menu-title">
                        Меню:
                    </p>
                    <ul class="footer-menu-list">
                        <li class="menu-item" *ngFor="let menu of menuArr; 
                                 let isFirst = first" [routerLink]="[menu.menuLink]" [fragment]="menu.menuLink"
                            (click)="onSelectItem(menu.menuLink); ">
                            <a>
                                {{ menu.menuName }}
                            </a>
                        </li>

                    </ul>
                </div>

                <!--Блок меню сторінок про компанію -->
                <div class="footer-menu">
                    <div class="footer-menu-title">
                        Про компанію:
                    </div>
                    <ul class="footer-menu-list">
                        <li class="menu-item" *ngFor="let item of list" [routerLink]="[item.link]"
                            [fragment]="item.link" (click)="onSelectItem(item.link)">
                            <a class="nav-link">{{item.name}}</a>
                        </li>
                        <li class="menu-item">
                            <a class="nav-link">Відгук</a>
                        </li>
                    </ul>
                </div>



                <div class="footer-menu">
                    <div class="footer-menu-title">
                        Львів:
                    </div>
                    <ul class="footer-menu-list">
                        <li>
                            <p>вул. Пасічна, 181 </p>
                        </li>
                        <li>
                            <p>просп. Червоної Калини, 60 (ТЦ Арсен)</p>
                        </li>
                        <li>
                            <p>вул. Івана Пулюя, 12</p>
                        </li>
                        <li>
                            <p>вул. Малоголосківська, 16</p>
                        </li>
                        <li>
                            <p>вул. Китайська, 10</p>
                        </li>
                        <li>
                            <p>вул. Івана Франка, 71</p>
                        </li>
                        <li>
                            <p>вул. Залізнична, 19</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
         
                <div class="footer-item">
                    <p>©2023 MA Pizza Всі права захищено</p>
                </div>

                <div class="footer-item">
                    <a href="https://mapizza.com.ua/privacy-policy/" target="_blank">
                        Політика конфіденційності </a>
                </div>

                <div class="footer-item">
                    <a href="https://mapizza.com.ua/dogovir-publichnoyi-oferty/" target="_blank">
                        Оферта </a>
                </div>

                <div class="footer-item">
                    <img src="https://mapizza.com.ua/wp-content/themes/mamma-italiana/img/visa-card.svg" alt="">
                    <img src="https://mapizza.com.ua/wp-content/themes/mamma-italiana/img/master-card.svg" alt="">
                </div>
                
                <div class="footer-item ">
                    <a href="http://redstone.media/" target="_blank">
                        <span>Розробка сайтів</span> <img
                            src="https://mapizza.com.ua/wp-content/themes/mamma-italiana/img/redstone.svg"
                            alt="REDSTONE">
                    </a>
                </div>
           
        </div>
    </div>

</footer>