<div class="container">
    <!-- Заголовок сторінки -->
    <h1 class="title title-decor h1">Оформлення замовлення</h1>

    <!-- Зображення для декорації -->
    <img class="img-decor"
        src="https://firebasestorage.googleapis.com/v0/b/final-project-393613.appspot.com/o/decor%2Fdecor-img-6.svg?alt=media&token=8bc059eb-ca21-41b6-a856-9b93a4962808"
        alt="">

    <div class="order_body">
        <!-- Блок для списку товарів -->
        <div class="goods_list">
            <!-- Блок для бонусів -->
            <div class="bonus">
                <!-- Коментар перед бонусами -->
                <p class="summ_bonus">Нарахується бонусів: <b>{{bonus}} грн. </b></p>
            </div>

            <!-- Список товарів -->
            <ul class="order_list">
                <!-- Один товар в списку, повторюється для кожного товару в кошику -->
                <li class="order_good" *ngFor="let order of basket">
                    <!-- Зображення товару -->
                    <div (click)="productInfo(order)"  class="prod_img" target="_blank">
                        <img [src]="order.images">
                    </div>
                    <!-- Опис товару -->
                    <div class="prod_desc">
                        <div class="gods_name">
                            <a (click)="productInfo(order)" class="title" target="_blank">
                                {{order.name}}
                            </a>
                            <!-- Кнопка для видалення товару з кошика -->
                            <div class="btn-close" (click)="delOrder(order)"></div>
                        </div>
                        <div class="count_price">
                            <!-- Ціна товару -->
                            <p> {{order.price}} грн</p>

                            <!-- Кількість товару -->
                            <div class="quantity_goods">
                                <button (click)="quantity_goods(order, false)" type="button"
                                    class="decrement">-</button>
                                <input [value]="order.count" readonly class="goods_qty" tabindex="-1" max="999">
                                <button (click)="quantity_goods(order, true)" type="button" class="increment">+</button>
                            </div>

                            <!-- Стара ціна товару -->
                            <p *ngIf="!order.newPrice" class="price-old">{{order.price}} грн </p>
                            <p *ngIf="order.newPrice" class="price-old">{{order.priceTogether}} грн </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Форма для введення даних покупця -->
        <form [formGroup]="customerForm" (ngSubmit)="checkout()" class="delivery-form">
            <div class="form-group">
                <!-- Заголовок для контактних даних -->
                <h4>Контактні дані</h4>
                <div class="user_data">
                    <!-- Поле для імені -->
                    <input formControlName="firstname" name="firstname" type="text" class="form-control"
                        placeholder="Ваше ім`я:">
                    <!-- Поле для телефону -->
                    <input formControlName="phone" name="phone" type="number" class="form-control"
                        placeholder="Ваше телефон:">
                    <!-- Поле для електронної пошти -->
                    <input formControlName="email" name="email" type="text" class="form-control email"
                        placeholder="Ваш email:">
                </div>
            </div>

            <!-- Заголовок для інформації про доставку -->
            <div class="form-group">
                <h4>Інформація про доставку</h4>
                <div class="radio_box">
                    <!-- Вибір методу доставки: адресна доставка -->
                    <label class="checkbox-entry radio">
                        <input type="radio" name="delivery_method" class="toggle-block-control"
                            (click)="choiseDeliveryMethod('courier')" checked value="courier">
                        <span>Адресна доставка</span>
                    </label>
                    <!-- Вибір методу доставки: самовивіз -->
                    <label class="checkbox-entry radio">
                        <input type="radio" name="delivery_method" class="toggle-block-control"
                            (click)="choiseDeliveryMethod('local_pickup')" data-discount-percent="15" data-block="2"
                            data-rel="1" value="local_pickup">
                        <span>Самовивіз</span>
                    </label>
                </div>
                <div class="delivery_address" *ngIf="!deliveryMethod">
                    <!-- Поля для адреси доставки (якщо вибрана адресна доставка) -->
                    <div *ngIf="!registeredUser" class="delivery_address">
                        <div class="adress1">
                            <input formControlName="type" name="type" type="text" class="form-control"
                                placeholder="*Вкажіть назву локації (дім, офіс і т.д.)">
                            <select formControlName="city" name="city" class="form-control city" placeholder="*Місто">
                                <option value="" selected disabled>*Місто</option>
                                <option value="Львів">Львів</option>
                                <option value="Зубра">Зубра</option>
                                <option value="Сокільники">Сокільники</option>
                                <option value="Пасіки-Зубрицькі">Пасіки-Зубрицькі</option>
                            </select>
                            <input formControlName="street" name="street" type="text" class="form-control"
                                placeholder="*Вулиця">
                        </div>
                        <div class="adress2">
                            <input formControlName="houseNumber" name="houseNumber" type="number" class="form-control"
                                placeholder="*№ будинку">
                            <input formControlName="entrance" name="entrance" type="number" class="form-control"
                                placeholder="Під'їзд">
                            <input formControlName="floor" name="floor" type="number" class="form-control"
                                placeholder="Поверх">
                            <input formControlName="apartment" name="apartment" type="number" class="form-control"
                                placeholder="№ квартири">
                        </div>
                    </div>
                    <!-- Вибір зареєстрованої адреси доставки (якщо користувач зареєстрований) -->
                    <div *ngIf="registeredUser" class="address-data">
                        <table>
                            <tbody>
                                <tr *ngFor="let item of addressArr; let i = index">
                                    <td class="radio">
                                        <label class="checkbox-entry radio">
                                            <input (click)="addressSelection(i)" type="radio" name="address"
                                                class="toggle-block-control">
                                            <span></span>
                                        </label>
                                    </td>
                                    <td class="type-address">{{ item.type }}</td>
                                    <td class="address">{{ item.city }}
                                        {{ item.street }}
                                        {{ item.houseNumber }}
                                        {{ item.apartment }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Вибір адреси самовивозу (якщо вибрана самовивіз) -->
                <div class="delivery_address" *ngIf="deliveryMethod">
                    <div class="toggle-block">
                        <select name="self_delivery_address" (change)="localPickupAddress($event)"
                            class="SelectBox SumoUnder">
                            <option value="" selected="" disabled="">*Виберіть адресу самовивозу
                            </option>
                            <option value="Залізнична, 19  " data-organization="e64cfb0d-14f2-416a-9ad0-04f4bcf2463a">
                                Залізнична, 19 </option>
                            <option value="Малоголосківська, 16 "
                                data-organization="edc29a6c-24c1-4380-b8ee-888629c35df3">
                                Малоголосківська, 16 </option>
                            <option value="Пулюя, 12 " data-organization="1c171517-f597-4972-a8ab-da40938aa0ef">Пулюя,
                                12
                            </option>
                            <option value="Китайська, 10 " data-organization="51f577b7-a595-4bc4-9609-eedc6a00c184">
                                Китайська, 10 </option>
                            <option value="Івана Франка, 71" data-organization="db6a67f8-d834-4add-8815-9d746e0d1403">
                                Івана
                                Франка, 71</option>
                            <option value="Червоної Калини, 60"
                                data-organization="b216e959-6b3f-422c-9ec8-d48a1548a787">
                                Червоної Калини, 60</option>
                            <option value="Пасічна, 181" data-organization="549bbdd3-007a-48b4-a612-107a8aaf73dd">
                                Пасічна,
                                181</option>
                        </select>
                    </div>
                </div>
                <!-- Вибір часу доставки -->
                <div class="radio_box">
                    <label class="checkbox-entry radio">
                        <input (click)="timeWrapper('as_possible')" type="radio" class="toggle-block-control"
                            name="delivery-time" checked>
                        <span>Доставити якомога швидше</span>
                    </label>
                    <label class="checkbox-entry radio">
                        <input (click)="timeWrapper('as_time')" type="radio" class="toggle-block-control"
                            name="delivery-time">
                        <span>На час</span>
                    </label>
                </div>
                <!-- Вибір дати та часу доставки (якщо вибрано доставку на час) -->
                <div *ngIf="deliveryForTime" class="wrapper_time_block">
                    <div class="form-group">
                        <input type="text" class="form-control" id="deliveryDate" formControlName="deliveryDate"
                            bsDatepicker [bsConfig]="bsConfig">
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="deliveryTime" formControlName="deliveryTime"
                            name="deliveryTime">
                            <option value="" selected disabled value="*Час доставки">*Час доставки</option>
                            <option *ngFor="let timeOption of timeOptions" [value]="timeOption">{{ timeOption }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Параметри оплати -->
            <div class="form-group ">
                <!-- Заголовок для параметрів оплати -->
                <h4>Параметри оплати</h4>
                <div class="radio_box">
                    <!-- Вибір методу оплати: готівка -->
                    <label class="checkbox-entry radio">
                        <input (click)="choosingPaymentMethod('cash')" type="radio" class="toggle-block-control"
                            name="change" checked value="cash">
                        <span>Готівка</span>
                    </label>
                    <!-- Вибір методу оплати: онлайн оплата -->
                    <label class="checkbox-entry radio">
                        <input (click)="choosingPaymentMethod('payment')" type="radio" class="toggle-block-control"
                            name="change" value="payment">
                        <span>Онлайн оплата</span>
                    </label>
                    <!-- Вибір методу оплати: оплата через термінал -->
                    <label class="checkbox-entry radio">
                        <input (click)="choosingPaymentMethod('terminal')" type="radio" class="toggle-block-control"
                            name="change" value="terminal">
                        <span>Оплата через термінал</span>
                    </label>
                </div>
                <div class="moneychange-input">
                    <!-- Введення суми для решти (якщо вибрана оплата готівкою) -->
                    <div class="cash" *ngIf="paymentMethod === 'cash'">
                        <div class="change">
                            <p class="text">Підготувати решту з:</p>
                            <input [disabled]="calculateChangetDisabled" class="inputChange" type="number"
                                placeholder="Введіть суму" (input)="calculateChanget($event)">
                        </div>
                        <label class="checkbox-entry">
                            <input [disabled]="noChangeDisabled" name="change" type="checkbox" value="noChange"
                                (change)="toggleInputChange($event)"><span>Без решти</span>
                        </label>
                    </div>
                    <!-- Онлайн оплата (якщо вибрана онлайн оплата) -->
                    <div class="payment" *ngIf="paymentMethod === 'payment'">
                        <!-- Вставити код для онлайн оплати тут -->
                    </div>
                    <!-- Оплата через термінал (якщо вибрана оплата через термінал) -->
                    <div class="terminal" *ngIf="paymentMethod === 'terminal'">
                        <!-- Вставити код для оплати через термінал тут -->
                    </div>
                </div>
            </div>

            <!-- Перевірка бонусів -->
            <div class="check_bonuses">
                <button class="btn" (click)="activebonus()" type="button">
                    Перевірити наявність бонусів
                </button>
                <div [class.open]="noBonuses" class="no_bonuses">
                    Наразі у вас немає бонусів.
                </div>
                <div [class.open]="thereAreBonuses" class="bonus_block">
                    <!-- Вибір використання бонусів -->
                    <label class="checkbox-entry bonus">
                        <input (change)="useBonus($event)" type="checkbox" class="chekBonus" name="use-bonus">
                        <span>Використати бонуси ( Доступно: <b>{{userBonus}}</b> )</span>
                    </label>
                    <br>
                    <!-- Введення суми бонусів для використання -->
                    <div class="toggle-block">
                        <input [disabled]="inputBonus" (input)="inputUserBonus($event)" class="userBonusInput"
                            type="number" placeholder="Скільки використати?" name="bonus">
                        <button [disabled]="applyBonus" (click)="applyBonusAction()" type="button"
                            class="btn btn-secondary btn-block apply_bonus">
                            ЗАСТОСУВАТИ
                        </button>
                    </div>
                </div>
            </div>

            <!-- Вартість та бонуси -->
            <div class="thank-total-wrap">
                <!-- Загальна вартість замовлення -->
                <div class="total cost">
                    <p>Загальна вартість:</p>
                    <p><b>{{summ}}</b> грн</p>
                </div>
                <!-- Сума нарахованих бонусів -->
                <div class="total bonus ">
                    <p>Нарахується бонусів:</p>
                    <p><b>{{bonus}}</b> грн</p>
                </div>
            </div>

            <!-- Зателефонуйте мені -->
            <div class="checkbox-entry-wrap">
                <label class="checkbox-entry">
                    <input type="checkbox" name="no_call" (change)="callMe($event)">
                    <span>Зателефонуйте мені для уточнення замовлення</span>
                </label>
            </div>

            <!-- Додавання коментаря -->
            <div class="checkbox-entry-wrap">
                <label class="checkbox-entry">
                    <input (change)="openComment($event)" type="checkbox" name="addComment"
                        class="toggle-block-control">
                    <span>Додати коментар</span>
                </label>
                <!-- Текстове поле для коментаря -->
                <textarea [class.open]="commentAreaOpen" (input)="onTextareaChange($event)" name="comment" class="input"
                    placeholder="Ваш коментар" spellcheck="false"></textarea>
            </div>

            <!-- Кнопка для підтвердження замовлення -->
            <button [class.open]="commentAreaOpen" [disabled]="customerForm.invalid" class="btn confirm_order"
                type="submit">
                <span>Підтвердити замовлення</span>
            </button>
        </form>
    </div>
</div>