section .action-conteiner {
  width: 100%;
  height: 600px;
  position: relative;
}
section .action-conteiner.visible {
  display: none;
}
section .action-conteiner .banner-decor {
  position: absolute;
  width: 25%;
  top: 0%;
  left: -4%;
  z-index: 10000;
}
section .action-conteiner .banner-decor img {
  width: 100%;
}
section .action-conteiner .carusel_container {
  /*      width: 80%; */
  margin: 0 auto;
  position: relative;
}
section .action-conteiner .carusel_container .carousel {
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}
section .action-conteiner .carusel_container .carousel .slide {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  background: var(--clr-mint);
  border-radius: 16px;
  margin: 0 auto;
}
section .action-conteiner .carusel_container .carousel .slide .title_container {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 50px;
}
section .action-conteiner .carusel_container .carousel .slide .title_container h1 {
  font-size: 40px;
  font-weight: 600;
}
section .action-conteiner .carusel_container .carousel .slide .title_container p {
  font-size: 16px;
  line-height: 1.5em;
  color: var(--clr-grey);
  font-weight: 400;
}
section .action-conteiner .carusel_container .carousel .slide .title_container .btn {
  width: 170px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-white);
  background: var(--clr-red);
  border: none;
  border-radius: 12px;
  text-align: center;
  font-size: 14px;
  line-height: 1.45em;
  font-weight: 600;
  padding: 14px 30px;
  text-transform: uppercase;
  transition: var(--transition);
}
section .action-conteiner .carusel_container .carousel .slide .title_container .btn:hover {
  background: var(--clr-green);
}
section .action-conteiner .carusel_container .carousel .slide .title_container .btn i {
  display: inline-block;
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid var(--clr-white);
  margin-left: 15px;
}
section .action-conteiner .carusel_container .carousel .slide .title_container .btn i::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 6px;
  height: 6px;
  margin-left: -1px;
  border-right: 2px solid var(--clr-white);
  border-bottom: 2px solid var(--clr-white);
}
section .action-conteiner .carusel_container .carousel .slide .image_conteiner {
  width: 55%;
  height: 100%;
}
section .action-conteiner .carusel_container .carousel .slide .image_conteiner img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

@media (max-width: 1028px) {
  section {
    margin: 0 auto;
  }
  section .action-conteiner {
    width: 100%;
  }
  section .action-conteiner .banner-decor {
    display: none;
  }
  section .batton-container {
    bottom: 5%;
  }
  section .carusel_container .carousel .slide .title_container {
    justify-content: flex-start;
    padding: 20px 10px;
  }
  section .carusel_container .carousel .slide .title_container h1 {
    font-size: 30px;
  }
}
@media (max-width: 986px) {
  section .action-conteiner {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
  }
  section .action-conteiner .carusel_container .carousel .slide {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section .action-conteiner .carusel_container .carousel .slide .title_container {
    width: 100%;
    order: 2;
    margin-bottom: 80px;
  }
  section .action-conteiner .carusel_container .carousel .slide .title_container h1 {
    font-size: 30px;
  }
  section .action-conteiner .carusel_container .carousel .slide .image_conteiner {
    width: 100%;
    order: 1;
    margin-bottom: 20px;
  }
  section .action-conteiner .carusel_container .carousel .slide .image_conteiner {
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section .action-conteiner .carusel_container .carousel .slide .image_conteiner img {
    width: 80%;
    height: auto;
    overflow: hidden;
  }
}
section .goods-container {
  position: relative;
  margin-top: -80px;
}
section .goods-container .text-left h1 {
  display: inline-block;
  position: relative;
  font-size: 40px;
  line-height: 1.2em;
  font-weight: 600;
  color: var(--clr-black);
  margin-top: 50px;
}
section .goods-container .text-left h1::before {
  content: "";
  position: absolute;
  top: -30px;
  left: -50px;
  width: 64px;
  height: 54px;
  background: url(https://firebasestorage.googleapis.com/v0/b/final-project-393613.appspot.com/o/decor%2Ftitle-decor.svg?alt=media&token=4f1d068e-62ba-4382-bd06-fa329a6710f5);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
section .goods-container .filters-list {
  display: flex;
}
section .goods-container .filters-list li {
  position: relative;
  margin-right: 5px;
  cursor: pointer;
  border: 1px solid #d1d9ce;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  transition: var(--transition);
}
section .goods-container .filters-list li.active {
  border: 2px solid var(--clr-green);
}
section .goods-container .filters-list li img {
  margin-right: 10px;
}
section .goods-container .products-wrapper {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: last baseline;
  list-style: none;
  overflow: hidden;
  transition: var(--transition);
}
section .goods-container .products-wrapper li {
  width: 32%;
  max-height: 750px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px 10px;
  margin: 5px 5px;
  border: 1px solid #d1d9ce;
  border-radius: 16px;
  background: var(--clr-white);
  transition: var(--transition);
}
section .goods-container .products-wrapper li .product_top-right {
  top: 10px;
  right: 10px;
  position: absolute;
}
section .goods-container .products-wrapper li .product_top-right .fav-btn {
  width: 40px;
  height: 40px;
  line-height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background: none;
}
section .goods-container .products-wrapper li .product_top-right .fav-btn svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
section .goods-container .products-wrapper li .product_top-right .fav-btn svg path {
  fill: transparent;
  stroke: var(--clr-red);
  transition: var(--transition);
}
section .goods-container .products-wrapper li .goods_image {
  width: 100%;
  height: 60%;
  margin-bottom: 10px;
}
section .goods-container .products-wrapper li .goods_image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.5s;
}
section .goods-container .products-wrapper li a {
  max-height: 2.6em;
  position: relative;
  overflow: hidden;
  color: inherit;
  text-decoration: none;
  transition: var(--transition);
  margin-bottom: 10px;
}
section .goods-container .products-wrapper li a:hover {
  color: var(--clr-green);
}
section .goods-container .products-wrapper li a img {
  margin-left: 10px;
}
section .goods-container .products-wrapper li .product_desc {
  overflow: hidden;
  min-height: 4.5em;
  color: var(--clr-grey);
  font-size: 16px;
  line-height: 1.5em;
  margin-bottom: 10px;
}
section .goods-container .products-wrapper li .product_controls {
  height: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
section .goods-container .products-wrapper li .product_controls .product_price-wrap {
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  font-size: 20px;
  line-height: 1em;
}
section .goods-container .products-wrapper li .product_controls .product_size {
  display: inline-block;
  flex-shrink: 0;
  font-size: 16px;
  line-height: 1em;
  margin: 5px auto 0 5px;
  color: var(--clr-grey);
}
section .goods-container .products-wrapper li .product_controls .bonus_calculate {
  font-size: 14px;
  color: #009246;
  font-weight: bold;
}
section .goods-container .products-wrapper li .product_controls .thumb-input-number {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  color: var(--clr-black);
  font-size: 16px;
  line-height: 1;
  border: 1px solid #d1d9ce;
  border-radius: 12px;
  align-self: center;
  margin-top: 10px;
}
section .goods-container .products-wrapper li .product_controls .thumb-input-number button {
  position: relative;
  width: 46px;
  height: 46px;
  cursor: pointer;
  background: none;
  font-size: 0;
  transition: var(--transition);
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
section .goods-container .products-wrapper li .product_controls .thumb-input-number button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 2px;
  background: #636662;
  transition: var(--transition);
}
section .goods-container .products-wrapper li .product_controls .thumb-input-number .increment::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 10px;
  background: #636662;
  transition: var(--transition);
}
section .goods-container .products-wrapper li .product_controls .thumb-input-number input {
  width: 46px;
  height: 28px;
  font-weight: 400;
  text-align: center;
  border: none;
  border-left: 1px solid #d1d9ce;
  border-right: 1px solid #d1d9ce;
}
section .goods-container .products-wrapper li .product_controls .order-btn {
  width: 58%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0 0 0 10px;
  border-radius: 12px;
  padding: 8px 15px;
  background: var(--clr-red);
  transition: var(--transition);
  margin: 10px 0 0;
}
section .goods-container .products-wrapper li .product_controls .order-btn:hover {
  background: var(--clr-green);
}
section .goods-container .products-wrapper li .product_controls span {
  margin-right: 10px;
  color: var(--clr-white);
}
section .goods-container .products-wrapper li .product_controls i {
  position: relative;
  width: 20px;
  height: 20px;
}
section .goods-container .products-wrapper li .product_controls i svg {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}