section {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center !important;
}
section .text-center h1::before {
  top: -20px;
  left: -44px;
}
section .admin_menu {
  width: 50%;
  display: flex;
  list-style: none;
  text-align: center;
  border: 1px solid #D1D9CE;
  border-radius: 12px;
  padding: 0;
  margin-top: 20px;
}
section .admin_menu li {
  width: 20%;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}
section .admin_menu li p {
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 1em;
  color: var(--clr-grey);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}
section .admin_menu li:hover p {
  color: var(--clr-green);
}
section .admin_menu li.active {
  background-color: var(--clr-red);
  border-radius: 12px;
}
section .admin_menu li.active p {
  color: var(--clr-white);
}