<section>
    <ul class="breadcrumbs">
        <li>
            <a [routerLink]="'/'">
                <span>Піца Львів</span>
            </a>
        </li>
        <li>
            <a [routerLink]="'/actions'">
                <span>Акції</span>
            </a>
        </li>
        <li>
            <a>
                <span>{{action}}</span>
            </a>
        </li>
    </ul>

    <div *ngIf="actionData">
        <div class="banner-align">
            <div class="banner_title">{{actionData.title}}</div>
        </div>
        <div class="text">{{actionData.description}}</div>
    </div>

    <div *ngIf="!actionData">
        <div class="banner-align">
            <div class="banner_title">Бонусна програма </div>
        </div>

        <div class="text">
            <p><span style="font-weight: 400;">У нас є приголомшлива бонусна програма для вас, завдяки якій ви
                    можете отримувати
                </span><b>кешбек (бонуси</b><span style="font-weight: 400;">) за покупки на сайті. Бонуси ви зможете
                    використати
                    для оплати своїх наступних замовлень на сайті.</span></p>
            <p><span style="font-weight: 400;">Використовуйте всі переваги нашої бонусної програми! Пройдіть
                    реєстрацію або
                    увійдіть в </span><b>особистий кабінет</b><span style="font-weight: 400;">, щоб накопичувати
                    бонуси та
                    використовувати за покупки на сайті.<br>
                </span></p>
            <p><span style="font-weight: 400;">✅ Накопичуєте 3% від суми оплаченого чеку.</span></p>
            <p><span style="font-weight: 400;">✅ Проста і чесна формула: 1 бонус = 1 грн суми наступної
                    покупки.</span></p>
            <p><span style="font-weight: 400;">✅ Бонуси нараховуються за фактом оплати замовлення протягом 24
                    годин.</span></p>
            <p><span style="font-weight: 400;">✅ Інформація про кількість накопичених бонусів та історію їх
                    нарахування і
                    списання можна побачити на сайті в Особистому кабінеті.</span></p>
            <p><span style="font-weight: 400;">✅ Бонуси дійсні протягом 90 календарних днів. Після закінчення цього
                    терміну
                    відповідна кількість бонусів автоматично списується з рахунку.</span></p>
            <p><span style="font-weight: 400;">✅ При оплаті одного замовлення можна списати необмежену кількість
                    бонусів. Сума
                    чеку після застосування бонусів повинна бути не менше мінімальної суми доставки по зонам.</span>
            </p>
            <p><span style="font-weight: 400;">❌ Бонуси можуть не нараховуватися за деякі спеціальні та акційні
                    пропозиції.</span></p>
            <p><span style="font-weight: 400;">❌ Бонуси не нараховуються на алкоголь, а також страви, які продаються
                    зі
                    знижкою.</span></p>
        </div>
    </div>

</section>