@media (max-width: 1028px) {
    section {
        .product_info_container {
            .info_container {
                .info_box {

                    .product-detail-title {
                        margin-bottom: 15px;

                        &::before {
                            content: none;
                        }


                    }

                    .ing_group {
                        .ing_row {
                            .ingredient {
                                width: 22% !important;
                            }


                        }

                    }


                }
            }


        }


    }
}

@media (max-width: 780px) {
    section {
        .product_info_container {
            .breadcrumbs {
                display: none;

            }

            .info_container {
                .info_box {

                    .btn-secondary {
                        width: 100%;


                    }

                    .ing_group {
                        .ing_row {
                            .ingredient {
                                width: 30% !important;
                            }


                        }

                    }

                    .product_controls {
                        height: 20%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        margin: 0 10px 10px 10px;

                        .product_price-wrap {
                            position: relative;
                            display: flex;
                            align-items: flex-end;
                            flex-wrap: wrap;
                            font-size: 20px;
                            line-height: 1em;
                        }

                        .product_size {
                            display: inline-block;
                            flex-shrink: 0;
                            font-size: 16px;
                            line-height: 1em;
                            margin: 5px auto 0 5px;
                            color: var(--clr-grey);
                        }



                        .thumb-input-number {
                            display: inline-flex;
                            align-items: center;
                            overflow: hidden;
                            color: var(--clr-black);
                            font-size: 16px;
                            line-height: 1;
                            border: 1px solid #d1d9ce;
                            border-radius: 12px;
                            align-self: center;
                            margin-top: 10px;

                            button {
                                position: relative;
                                width: 46px;
                                height: 46px;
                                cursor: pointer;
                                background: none;
                                font-weight: 600;
                                transition: var(--transition);
                                border: 0;
                                font-size: 100%;
                                vertical-align: baseline;
                            }

                            input {
                                width: 46px;
                                height: 28px;
                                font-weight: 400;
                                text-align: center;
                                border: none;
                                border-left: 1px solid #d1d9ce;
                                border-right: 1px solid #d1d9ce;

                                &:focus {
                                    outline: none;
                                    border: none;
                                }
                            }
                        }

                        .order-btn {
                            width: 40%;
                                                     
                        }



                    }

                }
            }


        }


    }
}

@media (max-width: 524px) {
    section {
        .product_info_container {

            .info_container {
                flex-direction: column;
                justify-content: flex-start;

                .image_box {
                    width: 100%;
                }

                .info_box {
                    width: 100%;

                    .ing_group {
                        .ing_row {

                            .ingredient {
                                width: 23% !important;
                            }
                        }
                    }

                }
            }

        }

    }
}