.container {
    position: relative;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .img-decor {
        position: absolute;
        max-width: 230px;
        top: 0px;
        left: -128px;
        transform: translate3d(0px, 14px, 0px);
    }

    h1 {
        position: relative;
        font-size: 34px;
        font-weight: 600;
        color: var(--clr-black);
        line-height: 1.2em;

        ;

        &::before {
            content: '';
            position: absolute;
            top: -18px;
            left: -50px;
            width: 52px;
            height: 54px;
            background: url(https://firebasestorage.googleapis.com/v0/b/final-project-393613.appspot.com/o/decor%2Ftitle-decor.svg?alt=media&token=4f1d068e-62ba-4382-bd06-fa329a6710f5);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }
}