section {
  width: 100%;
  margin-top: 40px;
}
section .container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
section .container .action_list {
  list-style: none;
  margin-top: 40px;
}
section .container .action_list li {
  margin-bottom: 20px;
}
section .container .action_list li .action_block {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
}
section .container .action_list li .action_block .news-img {
  width: 50%;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 16px;
}
section .container .action_list li .action_block .news-img img {
  border-radius: 16px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: var(--transition);
}
section .container .action_list li .action_block .news-content {
  width: 50%;
  align-self: center;
  text-align: left;
}
section .container .action_list li .action_block .news-content a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: inherit;
  transition: var(--transition);
  line-height: 1.33em;
  font-weight: 600;
  color: var(--clr-black);
}
section .container .action_list li .action_block .news-content .text {
  width: 100%;
  font-size: 16px;
  line-height: 1.5em;
  color: var(--clr-grey);
  font-weight: 400;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  max-height: 7.5em;
}
section .container .action_list li .action_block .news-content .btn-link {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-top: 15px;
}
section .container .action_list li .action_block .news-content .btn-link span {
  color: var(--clr-red);
  transition: var(--transition);
}
section .container .action_list li .action_block .news-content .btn-link i {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: 2px solid var(--clr-red);
  transition: var(--transition);
}
section .container .action_list li .action_block .news-content .btn-link i::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 5px;
  height: 5px;
  margin-left: -1px;
  border-right: 2px solid var(--clr-red);
  border-bottom: 2px solid var(--clr-red);
  transition: var(--transition);
}

@media (max-width: 1028px) {
  section h1::before {
    content: none;
  }
  section .container {
    width: 100%;
  }
  section .container .action_list {
    margin-top: 20px;
  }
  section .container .action_list li {
    margin-bottom: 20px;
  }
  section .container .action_list li .action_block {
    height: 265px;
    display: flex;
    justify-content: space-around;
  }
  section .container .action_list li .action_block .news-img {
    width: 48%;
  }
  section .container .action_list li .action_block .news-content {
    width: 48%;
  }
}
@media (max-width: 780px) {
  section .container .action_list li .action_block {
    height: 200px;
    display: flex;
    justify-content: space-around;
  }
  section .container .action_list li .action_block .news-img {
    width: 48%;
  }
  section .container .action_list li .action_block .news-content {
    width: 48%;
  }
  section .container .action_list li .action_block .news-content a h3 {
    font-size: 24px;
  }
  section .container .action_list li .action_block .news-content .btn-link {
    font-size: 12px;
  }
}
@media (max-width: 524px) {
  section .container .action_list li .action_block {
    height: auto;
    flex-direction: column;
  }
  section .container .action_list li .action_block .news-img {
    width: 100%;
    height: 225px;
  }
  section .container .action_list li .action_block .news-content {
    width: 100%;
  }
  section .container .action_list li .action_block .news-content a h3 {
    font-size: 24px;
  }
  section .container .action_list li .action_block .news-content .btn-link {
    font-size: 12px;
  }
}