section .info_block {
  width: 100%;
  margin-top: 96px;
}
section .info_block .container {
  width: 100%;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}
section .info_block .container .benefits-wrapper {
  position: relative;
  background: #ffffff;
  border: 1px solid #d1d9ce;
  border-radius: 25px;
  padding: 45px 60px;
  box-shadow: 20px 20px 0px #f2faf2;
}
section .info_block .container .benefits-wrapper .decor-img {
  position: absolute;
  top: -150px;
  left: -140px;
  z-index: -1;
  max-width: 240px;
  max-height: 240px;
  transform: translate3d(0px, 16px, 0px);
}
section .info_block .container .about-block-wrapper {
  position: relative;
  background: var(--clr-white);
  border: 1px solid #d1d9ce;
  border-radius: 30px;
  margin-top: 70px;
  box-shadow: 20px 20px 0px #f2faf2;
}
section .info_block .container .about-block-wrapper .decor-img {
  position: absolute;
  top: -45px;
  left: -160px;
  z-index: -1;
  transform: translate3d(0px, -46px, 0px);
}
section .info_block .container .about-block-wrapper .about-block-inner {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .info_block .container .about-block-wrapper .about-block-inner .about-block-info {
  width: 46%;
  padding: 0px 60px 35px 110px;
}
section .info_block .container .about-block-wrapper .about-block-inner .about-block-info h2 {
  margin-top: 0px;
}
section .info_block .container .about-block-wrapper .about-block-inner .about-block-info h2::before {
  top: -18px;
  left: -37px;
}
section .info_block .container .about-block-wrapper .about-block-inner .about-block-img {
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  width: 53%;
  border-radius: 25px;
  min-height: 390px;
}
section .info_block .container .about-block-wrapper .about-block-inner .about-block-img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section .info_block .container .inst-block-wrapper {
  position: relative;
  background: var(--clr-white);
  border: 1px solid #d1d9ce;
  border-radius: 30px;
  margin-top: 70px;
  box-shadow: 20px 20px 0px #f2faf2;
}
section .info_block .container .inst-block-wrapper .inst-block-inner {
  display: flex;
  justify-content: space-between;
}
section .info_block .container .inst-block-wrapper .inst-block-inner .inst-block-img {
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  width: 53%;
  border-radius: 25px;
  min-height: 390px;
}
section .info_block .container .inst-block-wrapper .inst-block-inner .inst-block-img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section .info_block .container .inst-block-wrapper .inst-block-inner .inst-block-info {
  padding: 25px 60px 25px 110px;
  align-self: center;
}
section .info_block .container .inst-block-wrapper .inst-block-inner .inst-block-info h2::before {
  left: -50px;
  width: 64px;
}
section .info_block .container .inst-block-wrapper .inst-block-inner .inst-block-info .text {
  font-size: 16px;
  line-height: 1.5em;
  color: var(--clr-grey);
  font-weight: 400;
}
section .info_block .container .faq-block-wrapper {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  margin-top: 70px;
}
section .info_block .container .faq-block-wrapper .accordion {
  width: 60%;
  margin: 0 auto;
}
section .info_block .container .faq-block-wrapper .accordion h2::before {
  top: -30px;
  left: -50px;
}
section .info_block .container .faq-block-wrapper .accordion .accordion-panel .accordion-item {
  border: none;
  border-radius: 0px;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0);
  border-top: 1px solid #D1D9CE;
  border-bottom: 1px solid #D1D9CE;
}
section .info_block .container .faq-block-wrapper .accordion .accordion-panel .accordion-item .accordion-title {
  position: relative;
  padding: 30px 0;
  cursor: pointer;
  padding-right: 60px;
  color: var(--clr-black);
}
section .info_block .container .faq-block-wrapper .accordion .accordion-panel .accordion-item .accordion-title h5 {
  font-size: 18px;
  line-height: 1.3em;
  font-weight: 600;
  color: var(--clr-black);
  transition: var(--transition);
}
section .info_block .container .faq-block-wrapper .accordion .accordion-panel .accordion-item p {
  font-size: 16px;
  line-height: 1.5em;
  color: var(--clr-grey);
  font-weight: 400;
}
section .info_block .container .faq-block-wrapper .accordion .accordion-panel .accordion-item:hover .accordion-title h5 {
  color: var(--clr-green);
}
section .info_block .container .faq-block-wrapper .accordion .accordion-panel .accordion-item:hover .mat-expansion-indicator {
  border: 2px solid var(--clr-green);
}
section .info_block .container .content {
  position: relative;
  width: 60%;
  height: 610px;
  overflow: hidden;
  margin: 0 auto;
  transition: var(--transition);
}
section .info_block .container .content h2 {
  font-size: 40px;
  line-height: 1.2em;
  color: var(--clr-black);
  font-weight: 600;
  margin-bottom: 15px;
}
section .info_block .container .content p {
  margin-bottom: 15px;
}
section .info_block .container .content table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
section .info_block .container .content table td {
  border: 1px solid #d1d9ce;
  padding: 10px 15px;
}
section .info_block .container .content.expanded {
  height: auto;
}
section .info_block .container .decor-img {
  position: absolute;
  z-index: 1;
  max-width: 220px;
  max-height: 220px;
}
section .info_block .container .decor-img.left {
  top: 0;
  left: -127px;
  transform: translate3d(0px, -54px, 0px);
}
section .info_block .container .decor-img.right {
  bottom: -97px;
  right: -57px;
  transform: translate3d(0px, 1px, 0px);
}
section .info_block .container .btn-more {
  width: 60%;
  margin: 0 auto;
}
section .info_block .container .btn-more .read-more {
  margin: 0 auto;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.1em;
  font-weight: 600;
  color: var(--clr-red);
  letter-spacing: 0.05em;
  padding-right: 25px;
  transition: var(--transition);
}
section .info_block .container .btn-more .read-more:hover {
  color: var(--clr-green);
}
section .info_block .container .btn-more .read-more:before {
  content: "";
  position: absolute;
  top: 4px;
  right: 6px;
  width: 5px;
  height: 5px;
  border-top: 2px solid var(--clr-red);
  border-right: 2px solid var(--clr-red);
  transform: rotate(135deg);
  transition: var(--transition);
}
section .info_block .container .btn-more .read-more:after {
  content: "";
  position: absolute;
  top: -1px;
  right: 0;
  width: 17px;
  height: 17px;
  border: 2px solid var(--clr-red);
  border-radius: 100%;
  transition: var(--transition);
}
section .info_block .container .btn-more .read-more.expanded::before {
  transform: rotate(-45deg);
  top: 6px;
}

@media (max-width: 1028px) {
  section .info_block .container .benefits-wrapper .decor-img {
    display: none;
  }
  section .info_block .container .about-block-wrapper .decor-img {
    display: none;
  }
  section .info_block .container .about-block-wrapper .about-block-inner {
    flex-direction: column;
  }
  section .info_block .container .about-block-wrapper .about-block-inner .about-block-info {
    width: 100%;
    order: 2;
    padding: 0 30px 20px;
  }
  section .info_block .container .about-block-wrapper .about-block-inner .about-block-info h2::before {
    content: none;
  }
  section .info_block .container .about-block-wrapper .about-block-inner .about-block-img {
    width: 100%;
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-top: 0%;
  }
  section .info_block .container .about-block-wrapper .about-block-inner .about-block-img img {
    position: relative;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  section .info_block .container .inst-block-wrapper .inst-block-inner .inst-block-img {
    display: none;
  }
  section .info_block .container .inst-block-wrapper .inst-block-inner .inst-block-info {
    padding: 15px;
    align-self: center;
  }
  section .info_block .container .inst-block-wrapper .inst-block-inner .inst-block-info h2 {
    margin-top: 0px;
  }
  section .info_block .container .inst-block-wrapper .inst-block-inner .inst-block-info h2::before {
    content: none;
  }
  section .info_block .container .inst-block-wrapper .inst-block-inner .inst-block-info .text {
    font-size: 16px;
    line-height: 1.5em;
    color: var(--clr-grey);
    font-weight: 400;
  }
  section .info_block .container .faq-block-wrapper .accordion {
    width: 100%;
  }
  section .info_block .container .faq-block-wrapper .accordion h2::before {
    content: none;
  }
  section .info_block .container .content {
    width: 100%;
    height: 540px;
  }
  section .info_block .container .decor-img {
    display: none;
  }
  section .info_block .container .btn-more {
    width: 100%;
  }
}
@media (max-width: 524px) {
  section .info_block .container .swiper-slide {
    flex-shrink: 0;
    width: 95%;
    height: auto;
    position: relative;
    transition-property: transform;
  }
  section .info_block .container .swiper-slide .benefits-item {
    border: 1px solid #d1d9ce;
    border-radius: 25px;
    padding: 15px 20px;
  }
  section .info_block .container .swiper-slide .benefits-item .benefits-img {
    margin-bottom: 10px;
  }
  section .info_block .container .swiper-slide .benefits-item .title {
    font-size: 18px;
    line-height: 1.3em;
    margin-bottom: 5px;
    font-weight: 600;
    color: var(--clr-black);
  }
  section .info_block .container .swiper-slide .benefits-item .benefits-info {
    line-height: 1.3em;
    font-size: 16px;
    color: var(--clr-grey);
  }
  section .info_block .container .about-block-wrapper {
    box-shadow: none;
  }
  section .info_block .container .about-block-wrapper .about-block-inner .about-block-info {
    margin-top: -130px;
    padding: 0 7px 20px;
  }
  section .info_block .container .about-block-wrapper .about-block-inner .about-block-info .h2_title {
    font-size: 22px;
  }
  section .info_block .container .about-block-wrapper .about-block-inner .about-block-img {
    align-items: flex-start;
  }
  section .info_block .container .inst-block-wrapper {
    box-shadow: none;
  }
  section .info_block .container .inst-block-wrapper .inst-block-inner .inst-block-info {
    padding: 20 7px;
  }
  section .info_block .container .inst-block-wrapper .inst-block-inner .inst-block-info h2 {
    font-size: 22px;
  }
  section .info_block .container .faq-block-wrapper .accordion .h2_title {
    font-size: 22px;
  }
  section .info_block .container .content h2 {
    font-size: 22px;
  }
}
section .titel-container {
  width: 100%;
  height: 160px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--clr-mint);
  border-radius: 16px;
  margin-top: 60px;
  margin-bottom: 60px;
}
section .titel-container h1 {
  position: relative;
  font-size: 48px;
  margin-top: 0px;
  margin-left: 70px;
}
section .titel-container h1::before {
  top: -30px;
  left: -50px;
}
section .titel-container .c-title-img {
  flex: 0 0 auto;
  width: 50%;
  margin-bottom: 26px;
}
section .titel-container .c-title-img img {
  display: block;
  width: 100%;
}
section .container {
  width: 100%;
  position: relative;
}
section .container .content {
  position: relative;
  width: 60%;
  overflow: hidden;
  margin: 0 auto;
  transition: var(--transition);
}
section .container .content.salats {
  height: 280px;
}
section .container .content.dessert {
  height: 260px;
}
section .container .content h3 {
  font-size: 26px;
  line-height: 1.2em;
  color: var(--clr-black);
  font-weight: 600;
  margin-bottom: 15px;
}
section .container .content p {
  margin-bottom: 15px;
}
section .container .content table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
section .container .content table td {
  border: 1px solid #d1d9ce;
  padding: 10px 15px;
}
section .container .content.expanded {
  height: auto;
}
section .container .decor-img {
  position: absolute;
  z-index: 1;
  max-width: 220px;
  max-height: 220px;
}
section .container .decor-img.left {
  top: 0;
  left: -127px;
  transform: translate3d(0px, -54px, 0px);
}
section .container .decor-img.right {
  bottom: -97px;
  right: -57px;
  transform: translate3d(0px, 1px, 0px);
}
section .container .btn-more {
  width: 60%;
  margin: 0 auto;
}
section .container .btn-more .read-more {
  margin: 0 auto;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.1em;
  font-weight: 600;
  color: var(--clr-red);
  letter-spacing: 0.05em;
  padding-right: 25px;
  transition: var(--transition);
}
section .container .btn-more .read-more:hover {
  color: var(--clr-green);
}
section .container .btn-more .read-more:before {
  content: "";
  position: absolute;
  top: 4px;
  right: 6px;
  width: 5px;
  height: 5px;
  border-top: 2px solid var(--clr-red);
  border-right: 2px solid var(--clr-red);
  transform: rotate(135deg);
  transition: var(--transition);
}
section .container .btn-more .read-more:after {
  content: "";
  position: absolute;
  top: -1px;
  right: 0;
  width: 17px;
  height: 17px;
  border: 2px solid var(--clr-red);
  border-radius: 100%;
  transition: var(--transition);
}
section .container .btn-more .read-more.expanded::before {
  transform: rotate(-45deg);
  top: 6px;
}

@media (max-width: 1028px) {
  section .titel-container {
    justify-content: space-between;
    padding: 0;
    height: 120px;
  }
  section .titel-container .title {
    font-size: 30px;
    margin-left: 14px;
  }
  section .titel-container .title::before {
    content: none;
  }
  section .titel-container .c-title-img {
    margin-bottom: 3px;
  }
  section .container .content {
    width: 100%;
  }
  section .container .content.salats {
    height: 240px;
  }
  section .container .content.dessert {
    height: 210px;
  }
  section .container .decor-img {
    display: none;
  }
  section .container .btn-more {
    width: 100%;
  }
}
@media (max-width: 780px) {
  section .titel-container {
    background: none;
    height: auto;
    margin: 0px;
  }
  section .titel-container .c-title-img {
    display: none;
  }
  section .container .content.salats {
    height: 250px;
  }
}
section .goods-container {
  width: 100%;
  position: relative;
  margin-top: 0px;
}
section .goods-container .text-left h1::before {
  left: -41px;
  width: 64px;
}
section .goods-container .filters-list {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0 15px 5px;
}
section .goods-container .filters-list::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
section .goods-container .filters-list::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: var(--clr-green);
}
section .goods-container .filters-list li {
  display: inline-block;
  position: relative;
  margin-right: 5px;
  cursor: pointer;
  border: 1px solid #d1d9ce;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  transition: var(--transition);
}
section .goods-container .filters-list li.active {
  border: 2px solid var(--clr-green);
}
section .goods-container .filters-list li img {
  margin-right: 10px;
}
section .goods-container .products-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: last baseline;
  list-style: none;
  overflow: hidden;
  transition: var(--transition);
  padding-left: 0rem;
}
section .goods-container .products-wrapper li {
  width: 32%;
  height: 650px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 5px 5px;
  border: 1px solid #d1d9ce;
  border-radius: 16px;
  background: var(--clr-white);
  transition: var(--transition);
}
section .goods-container .products-wrapper li .image_block {
  position: relative;
  width: 100%;
  height: 60%;
  margin-bottom: 10px;
}
section .goods-container .products-wrapper li .image_block .fav_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  border: none;
  background: none;
}
section .goods-container .products-wrapper li .image_block .fav_btn svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
section .goods-container .products-wrapper li .image_block .fav_btn svg .fill-anime {
  fill: transparent;
  stroke: var(--clr-red);
  transition: var(--transition);
}
section .goods-container .products-wrapper li .image_block .fav_btn:hover svg .fill-anime {
  stroke: var(--clr-green);
  fill: var(--clr-green);
}
section .goods-container .products-wrapper li .image_block .fav_btn.active svg .fill-anime {
  fill: var(--clr-red);
}
section .goods-container .products-wrapper li .image_block .goods_image {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .goods-container .products-wrapper li .image_block .goods_image img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section .goods-container .products-wrapper li a {
  height: 2.6em;
  position: relative;
  overflow: hidden;
  color: inherit;
  text-decoration: none;
  transition: var(--transition);
  margin: 0 10px 10px 10px;
}
section .goods-container .products-wrapper li a:hover {
  color: var(--clr-green);
}
section .goods-container .products-wrapper li a img {
  margin-left: 10px;
}
section .goods-container .products-wrapper li .product_desc {
  line-height: 1.5em;
  height: 4.5em;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  color: var(--clr-grey);
  font-size: 16px;
  margin: 0 10px 10px 10px;
}
section .goods-container .products-wrapper li .product_controls {
  height: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px 10px 10px;
}
section .goods-container .products-wrapper li .product_controls .product_price-wrap {
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  font-size: 20px;
  line-height: 1em;
}
section .goods-container .products-wrapper li .product_controls .product_size {
  display: inline-block;
  flex-shrink: 0;
  font-size: 16px;
  line-height: 1em;
  margin: 5px auto 0 5px;
  color: var(--clr-grey);
}
section .goods-container .products-wrapper li .product_controls .bonus_calculate {
  font-size: 14px;
  color: #009246;
  font-weight: bold;
}
section .goods-container .products-wrapper li .product_controls .thumb-input-number {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  color: var(--clr-black);
  font-size: 16px;
  line-height: 1;
  border: 1px solid #d1d9ce;
  border-radius: 12px;
  align-self: center;
  margin-top: 10px;
}
section .goods-container .products-wrapper li .product_controls .thumb-input-number button {
  position: relative;
  width: 46px;
  height: 46px;
  cursor: pointer;
  background: none;
  font-weight: 600;
  transition: var(--transition);
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
section .goods-container .products-wrapper li .product_controls .thumb-input-number input {
  width: 46px;
  height: 28px;
  font-weight: 400;
  text-align: center;
  border: none;
  border-left: 1px solid #d1d9ce;
  border-right: 1px solid #d1d9ce;
}
section .goods-container .products-wrapper li .product_controls .thumb-input-number input:focus {
  outline: none;
  border: none;
}
section .goods-container .products-wrapper li .product_controls .order-btn {
  width: 58%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0 0 0 10px;
  border-radius: 12px;
  padding: 8px 15px;
  background: var(--clr-red);
  transition: var(--transition);
  margin: 10px 0 0;
}
section .goods-container .products-wrapper li .product_controls .order-btn:hover {
  background: var(--clr-green);
}
section .goods-container .products-wrapper li .product_controls .order-btn span {
  margin-right: 10px;
  color: var(--clr-white);
}
section .goods-container .products-wrapper li .product_controls .order-btn i {
  position: relative;
  width: 20px;
  height: 20px;
}
section .goods-container .products-wrapper li .product_controls .order-btn i svg {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1028px) {
  section .goods-container {
    margin-top: 14px;
  }
  section .goods-container .text-left h1::before {
    content: none;
  }
  section .goods-container .products-wrapper {
    justify-content: space-evenly;
  }
  section .goods-container .products-wrapper li {
    width: 32%;
    height: 470px;
  }
  section .goods-container .products-wrapper li a {
    height: 1.5em;
  }
  section .goods-container .products-wrapper li .product_controls .thumb-input-number {
    width: 45%;
  }
  section .goods-container .products-wrapper li .product_controls .thumb-input-number button {
    width: 40px;
    height: 40px;
  }
  section .goods-container .products-wrapper li .product_controls .thumb-input-number input {
    width: 40px;
  }
  section .goods-container .products-wrapper li .product_controls .order-btn {
    width: 45%;
  }
}
@media (max-width: 780px) {
  section .goods-container {
    margin-top: 14px;
  }
  section .goods-container .products-wrapper {
    justify-content: space-evenly;
  }
  section .goods-container .products-wrapper li {
    width: 48%;
  }
  section .goods-container .products-wrapper li .product_desc {
    font-size: 14px;
    height: 4em;
  }
}
@media (max-width: 524px) {
  section .goods-container .products-wrapper li {
    width: 95%;
  }
}