.basket {
    position: fixed;
    z-index: 120;
    right: 0;
    top: 0;
    bottom: 0;
    width: 540px;
    max-height: 90vh;
    margin: 15px;
    border-radius: 12px;
    padding: 16px;
    background-color: var(--clr-white);
    display: flex;
    flex-direction: column;
    transform: translateX(130%);
    transition: 0.5s;

    &.active {
        transform: translateX(0);
    }



    .basket_title {
        position: relative;
        padding: 20px 20px;
        border-bottom: 1px solid #D1D9CE;
        text-align: center;
        height: 74px;


        .title {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            font-size: 22px;
            font-weight: 600;
            color: var(--clr-black);

            &::before {
                content: '';
                position: absolute;
                top: -30px;
                left: -50px;
                width: 64px;
                height: 54px;
                background: url(https://firebasestorage.googleapis.com/v0/b/final-project-393613.appspot.com/o/decor%2Ftitle-decor.svg?alt=media&token=4f1d068e-62ba-4382-bd06-fa329a6710f5);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }

        .btn-close {
            position: absolute;
            top: 25px;
            right: 25px;
            border: none !important;
            cursor: pointer;

        }
    }

    .basket_order {
        width: 100%;
        height: 80%;
        overflow: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        list-style: none;
        padding-left: 0px;

        .order_good {
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-shrink: 0;
            padding: 20px 0px;
            border-bottom: 1px solid #d1d9ce;

            .btn-close {
                position: absolute;
                top: 25px;
                right: 25px;
                border: none;
                cursor: pointer;
            }

            .prod_img {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 120px;
                height: 120px;
                border: none !important;
                cursor: pointer;


                img {

                    width: 100%;
                    vertical-align: top;
                }
            }

            .prod_desc {
                width: 70%;
                display: flex;
                flex-direction: column;
                padding: 0 0 0 15px;



                .gods_name {
                    width: 100%;
                    position: relative;
                    padding-right: 30px;

                    .title {
                        position: relative;
                        display: -webkit-box;
                        overflow: hidden;
                        max-height: 3em;
                        font-size: 18px;
                        line-height: 1.33em;
                        font-weight: 600;
                        color: var(--clr-black);
                    }
                }

                .count_price {
                    width: 100%;
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 36px;
                    margin-top: 10px;

                    .quantity_goods {
                        display: inline-flex;
                        align-items: center;
                        overflow: hidden;
                        color: var(--clr-black);
                        font-size: 16px;
                        line-height: 1;
                        border: 1px solid #d1d9ce;
                        border-radius: 12px;
                        align-self: center;
                        margin-top: 10px;

                        button {
                            position: relative;
                            width: 46px;
                            height: 46px;
                            cursor: pointer;
                            background: none;
                            font-weight: 600;
                            transition: var(--transition);
                            border: 0 !important;
                            font-size: 100%;
                            vertical-align: baseline;

                            &:focus {
                                outline: none;
                                border: none;
                            }
                        }

                        input {
                            width: 46px;
                            height: 28px;
                            font-weight: 400;
                            text-align: center;
                            border: none;
                            border-left: 1px solid #d1d9ce;
                            border-right: 1px solid #d1d9ce;

                            &:focus {
                                outline: none;
                                border: none;
                            }
                        }
                    }
                }
            }
        }


    }

    .basket_bottom {
        width: 100%;
        height: 84px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06);

        .cart_price {
            flex-direction: column;

            .summ_prise {
                font-size: 20px;
                color: var(--clr-grey);
            }

            .aumm_bonus {
                font-size: 14px;
                color: #009246;
                font-weight: 700;
                margin-top: -10px;
            }
        }
    }
}