section .titel-container {
    width: 100%;
    min-height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--clr-mint);
    border-radius: 16px;
    margin-top: 60px;
    margin-bottom: 60px;


    h1 {
        position: relative;
        font-size: 48px;
        margin-top: 0px;
        margin-left: 70px;

        &::before {
            top: -30px;
            left: -50px;
        }
    }

    .c-title-img {
        flex: 0 0 auto;
        width: 50%;
        margin-top: 16px;

        img {
            display: block;
            width: 100%;
        }
    }
}